body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.controls {
    margin-bottom: 20px;
}

#streaming {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#video {
    width: 100%;
    max-width: 640px; /* Puedes ajustar el tamaño máximo */
    height: auto;
    border: 1px solid #ccc;
}

#preview img {
    max-width: 100%;
    margin-top: 20px;
}
